

.button {
    display: flex;
    border-top: 2px solid var(--obj-01);;
    border-bottom: 2px solid var(--obj-01);
    border-left: 2px solid var(--obj-01);
    background-color: var(--interactive-01);
    align-items: flex-start;
    padding: 0px;
}   

.button-text {
    color: var(--interactive-obj-01);
    text-align: center;
    font-family: var(--font-button-family), sans-serif;
    font-style: var(--font-button-style);
    font-weight: var(--font-button-weight);
    font-size: var(--font-button-size);
    line-height: var(--font-button-line-height);
    letter-spacing: var(--font-button-letter-spacing);
    text-decoration: var(--font-button-text-decoration);
    margin: 0px;
    padding-top: 2px;
}

.button-container {
    padding: 16px 40px;
    margin: 0px;
    flex: 1 0 0;
    align-self: stretch;
}

.icon-container{
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-left: 2px solid var(--obj-01);
    background-color: var(--interactive-01);
}

.iconArrow {
    width: 36px;
    height: 14px;
}
