.skillTitle {
    display: inline-block;
    font-family: var(--font-h2-family), sans-serif;
    font-style: var(--font-h2-style);
    font-weight: var(--font-h2-weight);
    font-size: var(--font-h2-size);
    line-height: var(--font-h2-line-height);
    letter-spacing: var(--font-h2-letter-spacing);
    text-decoration: var(--font-h2-text-decoration);
    text-transform: var(--font-h2-text-transform);
    color: var(--obj-01);
}

.scrollContainer {
    display: flex;
    max-width: 1920px;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
}

.skills {
    flex: none;
    justify-content: flex-end;
    align-items: center;
    overflow:-moz-hidden-unscrollable;
    font-family: var(--font-h2-skills-family), sans-serif;
    font-style: var(--font-h2-skills-style);
    font-weight: var(--font-h2-skills-weight);
    font-size: var(--font-h2-skills-size);
    line-height: var(--font-h2-skills-line-height);
    letter-spacing: var(--font-h2-skills-letter-spacing);
    text-decoration: var(--font-h2-skills-text-decoration);
    text-transform: var(--font-h2-skills-text-transform);
}    